includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - send-emails-with-resend.php
        - classes
    scanDirectories:
        - vendor-prefixed # expose prefixed namespaces to fix class.notFound errors
    bootstrapFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php